:root{
  --header-height: 50px;
  --footer-height: 21px;
}

*{
  margin: 0;
  padding: 0;
  color: white;
}

/*FORMAT STYLES*/

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.textcenter{
  text-align: center;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2C2B30;
}

a{ 
  text-decoration: underline; 
  color: black;
}

.hmargined{
  --margined-content-width: 1000px; /*larger number = smaller margin*/
  --margin-left: auto; /*can be set to pixel*/
  margin: 0 auto 0 var(--margin-left);
  width: var(--margined-content-width);
}

.vmargined{
  margin-top: 25px;
}

.row{
  display: flex;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.col1{
  float: left;
  width: 100%;
  height: auto;
  padding: 15px;
}

.col2{
  float: left;
  width: 50%;
  height: auto;
  padding: 15px;
}

.col3{
  float: left;
  width: 33%;
  height: auto;
  padding: 15px;
}

/*HEADER STYLES*/
.header{
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  background-color: black;
}

nav{

}

.menu li{
  list-style: none;
  float: left;
  display: inline-block;
  line-height: var(--header-height);
}

.menu li a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px;
  color: white;
  background-color: black;
}

.menu li a:hover{
  color: #ffa500;
  background-color: #2C2B30;
}

.menu li a:active{
  color: white;
}

/*
.home-blob{
  object-fit: inherit;
  width: auto;
  background-color: transparent;
}
*/

/*CONTENT STYLES*/

.content{
  margin-top: calc(var(--header-height));
  margin-bottom: calc(var(--footer-height) + 50px);
}

.title-wrap{
  height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
}

.title-wrap div{
  position: inherit;
}


/*FOOTER STYLES*/

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: black;
  color: white;
  font-size: 12px;
}