:root{
  --header-height: 50px;
  --footer-height: 21px;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{ 
  text-decoration: underline; 
  color: black;
  }

nav{
  background-color: orange;
  color: white;
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
}

.menu-selection{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: var(--header-height);
}

.menu-selection a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px;
  color: black;
}

.content{
  margin-top:var(--header-height);
  margin-bottom:var(--footer-height);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: black;
  color: white;
}